MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=slt_voice_to_image_db

IMAGE_MODEL_ID=segmind/tiny-sd
NUM_INFERENCE_STEPS=8
GUIDANCE_SCALE=6.0
USE_SAFETENSORS=false

HF_HUB_DOWNLOAD_TIMEOUT=120
HF_HUB_ETAG_TIMEOUT=120
HF_HUB_DISABLE_SYMLINKS_WARNING=1
