MONGO_URI=mongodb+srv://kodippilisewwandi_db_user:Sagee123@voice2imagedb.dtjiizc.mongodb.net/?appName=voice2imagedb
MONGO_DB_NAME=voice2imagedb

WHISPER_MODEL_NAME=large-v3-turbo

IMAGE_MODEL_ID=stabilityai/stable-diffusion-xl-base-1.0
NUM_INFERENCE_STEPS=30
GUIDANCE_SCALE=7.5
USE_SAFETENSORS=true

HF_HUB_DOWNLOAD_TIMEOUT=120
HF_HUB_ETAG_TIMEOUT=120
HF_HUB_DISABLE_SYMLINKS_WARNING=1

KMP_DUPLICATE_LIB_OK=TRUE